body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

/* Div styles start */
#body{
  margin:auto;
  width: 50%;
}

#measurements, #date, #format{
  background-color: #EAF6F6;
  padding: 10px;
  margin-bottom: 20px;
}

/* underline for result title */
.underline{
  text-decoration:underline;
  text-decoration-thickness: 2px;
}
/* Div styles end */

#top{
  background-color: #EAF6F6;
  position:relative;
  padding-top: 20px;
  padding-bottom: 50px;
}

h1{
  color:#66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 0 auto 0 auto;
  text-align: center;
}

h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

h3, input, label{
  margin-left: 10px;
}

#tableOutput{
  padding-top: 70px;
  padding-bottom: 50px;
}

#graphOutput{
  padding-bottom: 100px;
}

/* Table style */
#data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#data td, #data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data tr:nth-child(even){background-color: #f2f2f2;}

#data tr:hover {background-color: #ddd;}

#data th {
  padding: 12px 20px 12px 20px;
  text-align: center;
  background-color: #11999E;
  color: white;
}
/* Table style */

/* Mobile style */
@media only screen and (max-width: 1024px) {

  body{ 
     font-size: 0.5em; 
  }
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 2em;
  }
  #date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #measurements{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #graphOutput{
    padding-bottom: 100px;
    width: auto;
    height: auto;
  }

  #tableOutput{
    overflow-x:auto;
  }

  #toTopBtn{
    display: none;
  }
}
/* Mobile style */

/* To top button style */
#toTopBtn {
  position: fixed; 
  bottom: 20px; 
  right: 100px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: #11999E;
  color: white;
  cursor: pointer; 
  padding: 15px 15px 9px 15px;
  border-radius: 10px;
  width: 80px;
  font-size: 30px;
}

#toTopBtn:hover {
  background-color: #555;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
}
/* To top button style */